@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../../../public/fonts/fonts.css");

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

html,
#__next,
#video-container-dyte {
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: stretch;
  height: 100%;
}
body {
  min-height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: stretch;
  /*height: 100%;*/
}

/* mobile viewport bug fix */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (background: -webkit-named-image(i)) {
    body {
      min-height: -webkit-fill-available;
    }
    html {
      min-height: -webkit-fill-available;
    }
  }
}

#__next {
  min-height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: stretch;
  height: 100%;
  flex: 1;
}

.react-photo-gallery--gallery {
  margin: -2px;
}
.calendar {
  overflow-x: visible !important;
}
.calendar .months-container {
  display: flex !important;
  flex-flow: row !important;
  flex-wrap: wrap !important;
}
.calendar .months-container .month-container {
  float: none !important;
  height: auto !important;
}
@media print {
  button,
  button *,
  .no-print {
    display: none !important;
  }
}

button svg {
  pointer-events: none;
}

ul + p {
  margin-top: 15px;
}

ol + p {
  margin-top: 15px;
}

ol li {
  font-weight: bold;
}

ul,
ol {
  margin-bottom: 15px !important;
}
legend {
  margin-top: 50px !important;
  font-size: 24px !important;
}
.chakra-alert {
  border-radius: 5px;
}
/*hr {*/
/*  margin: 20px 0;*/
/*  padding: 20px 0;*/
/*}*/

/* Tickets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.ticket {
  width: 100%;
  max-width: 900px;
  /*min-width: 320px;*/
  display: flex;
  flex-direction: row;
  /*padding: 0 20px;*/
  background: #fff;
  overflow: hidden;
  border: 5px solid #ddd;
  /*margin: 10px*/
}
.ticket-right,
.ticket-left {
  float: left;
  /*padding: 20px*/
}
.ticket-right {
  /*padding: 79px 50px;*/
  /*margin-right: 20px;*/
  width: 25%;
  position: relative;
  display: flex;
  justify-content: center;
  /*height: 286px*/
}
.ticket-right img {
  align-self: center;
}
.ticket-right .up-border,
.ticket-right .down-border {
  padding: 14px 15px;
  background-color: #ddd;
  border-radius: 50%;
  position: absolute;
}
.ticket-right .up-border {
  top: -8px;
  right: -16px;
}
.ticket-right .down-border {
  bottom: -13px;
  right: -16px;
}
.ticket-right .num {
  font-size: 60px;
  text-align: center;
  color: #111;
}
.ticket-right .day,
.ticket-left .event {
  color: #555;
  font-size: 20px;
  margin-bottom: 9px;
}
.ticket-right .day {
  text-align: center;
  font-size: 25px;
}
.ticket-left {
  width: 71%;
  padding: 34px 0px 19px 46px;
  border-left: 3px dotted #999;
}
.ticket-left .title {
  color: #111;
  font-size: 2.2vw;
  margin-bottom: 12px;
}
.ticket-left .sce {
  margin-top: 5px;
  display: block;
}
.ticket-left .sce .icon,
.ticket-left .sce p,
.ticket-left .loc .icon,
.ticket-left .loc p {
  float: left;
  word-spacing: 5px;
  letter-spacing: 1px;
  color: #888;
  margin-bottom: 10px;
}
.ticket-left .sce .icon,
.ticket-left .loc .icon {
  margin-right: 10px;
  font-size: 20px;
  color: #666;
}
.ticket-left .loc {
  display: block;
}
.fix {
  clear: both;
}
.ticket .tickets,
.booked,
.cancel {
  color: #fff;
  padding: 6px 14px;
  float: right;
  margin-top: 10px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
.ticket .tickets {
  background: #777;
}
.ticket .booked {
  background: #3d71e9;
}
.ticket .cancel {
  background: #df5454;
}
.linethrough {
  text-decoration: line-through;
}
@media only screen and (max-width: 1150px) {
  .ticket {
    width: 100%;
    /*margin-right: 20px*/
  }
}

@media only screen and (max-width: 415px) {
  .ticket-left .title {
    font-size: 4vw;
  }
  .ticket {
    flex-direction: column;
  }
  .ticket-right,
  .ticket-left {
    width: 100%;
  }
  .ticket-right {
    display: flex;
    justify-content: center;
  }
  .ticket-right img {
    /*width: 50%;*/
  }
  .ticket-left {
    border-left: none;
    border-top: 3px dotted #999;
  }
  .ticket-right .up-border {
    top: auto;
    bottom: -14px;
    right: auto;
    left: -16px;
  }
}

.slot-booked {
  transition: all 0.3s;
}
body.chakra-ui-light .slot-booked:hover {
  background: #fafafa;
}
body.chakra-ui-dark .slot-booked:hover {
  background: rgba(255, 255, 255, 0.1);
}

.chakra-form-control {
  width: auto !important;
}
.icon-fi {
  transform: translateY(2px);
}

button[role="tab"]:focus {
  box-shadow: none;
}
.chakra-tabs__tablist {
  padding-bottom: 2px;
  overflow-x: scroll;
}
.grid-row > div {
  padding: 10px;
}
.grid-row:hover {
  cursor: pointer;
}
.grid-row.warning > div {
  background-color: #ffdfdf;
}
.chakra-ui-light .grid-row.warning:hover > div {
  background-color: #d5a3a3;
}
.chakra-ui-dark .grid-row.warning:hover > div {
  background-color: rgba(87, 41, 41, 0.02);
}
.chakra-ui-light .grid-row:hover > div {
  background-color: #f5f5f5;
}
.chakra-ui-dark .grid-row:hover > div {
  background-color: rgba(255, 255, 255, 0.02);
}

.loading {
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* GRID-ITEM BOOKING */
.booking-list-item-id {
  grid-area: id;
}
.booking-list-item-user {
  grid-area: user;
}
.booking-list-item-date {
  grid-area: date;
}
.booking-list-item-tickets {
  grid-area: tickets;
}
.booking-list-item-amount {
  grid-area: amount;
}
.booking-list-item-button {
  grid-area: btn;
}

/* landing */
/*#landing {*/
/*  font-family: Montserrat !important;*/
/*}*/

#landing a.readmore {
  color: #169ba4;
  text-transform: uppercase;
  fontsize: 12px;
  font-weight: bold;
  text-decoration: none;
}
#landing a.readmore:hover,
#landing a.readmore:active {
  text-decoration: underline;
}

.chakra-tabs__tab h2 {
  color: #000;
}
.chakra-tabs__tab[aria-selected="true"] h2 {
  color: #c6a357;
}
.chakra-tabs__tab[aria-selected="true"] {
  color: #c6a357 !important;
}

.badge-cats > * {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* MESSAGES */
.compose {
  padding: 10px;
  display: flex;
  align-items: center;
  background: white;
  border-top: 1px solid #eeeef1;
  position: fixed;
  bottom: 0px;
}
.form > * + * {
  margin-top: 1rem;
}
.form > *:first-child {
  margin-top: 0 !important;
}

@supports (backdrop-filter: blur(20px)) {
  .compose {
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
  }
}

.compose-input {
  flex: 1;
  border: none;
  font-size: 14px;
  height: 40px;
  background: none;
}

.compose-input::placeholder {
  opacity: 0.3;
}

.compose .toolbar-button {
  color: #bbbbbf;
  margin-left: 15px;
}

.compose .toolbar-button:hover {
  color: #99999c;
}

.conversation-list {
  display: flex;
  flex-direction: column;
}

.conversation-list-item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.conversation-list-item:hover {
  background: #eeeef1;
  cursor: pointer;
}

.conversation-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.conversation-title {
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0;
}

.conversation-snippet {
  font-size: 14px;
  color: #888;
  margin: 0;
}

.conversation-search {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.conversation-search-input {
  background: #f4f4f8;
  padding: 8px 10px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
}

.conversation-search-input::placeholder {
  text-align: center;
}

.conversation-search-input:focus::placeholder {
  text-align: left;
}

.message {
  display: flex;
  flex-direction: column;
}

.message .timestamp {
  display: flex;
  justify-content: center;
  color: #999;
  font-weight: 600;
  font-size: 12px;
  margin: 10px 0px;
  text-transform: uppercase;
}

.message .bubble-container {
  font-size: 14px;
  display: flex;
}

.message.mine .bubble-container {
  justify-content: flex-end;
}

.message.start .bubble-container .bubble {
  /* margin-top: 10px; */
  border-top-left-radius: 20px;
}

.message.end .bubble-container .bubble {
  border-bottom-left-radius: 20px;
  /* margin-bottom: 10px; */
}

.message.mine.start .bubble-container .bubble {
  margin-top: 10px;
  border-top-right-radius: 20px;
}

.message.mine.end .bubble-container .bubble {
  border-bottom-right-radius: 20px;
  margin-bottom: 10px;
}

.message .bubble-container .bubble {
  margin: 1px 0px;
  background: #f4f4f8;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 75%;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.message.mine .bubble-container .bubble {
  background: #3bacb4;
  color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.message-list-container {
  padding: 10px;
  padding-bottom: 70px;
}

.messenger {
  display: flex;
  width: 100%;
  height: calc(100vh - 64px);
  background: #eeeef1;

  /*grid-template-columns: 350px auto;*/
  /*grid-template-rows: 60px auto 60px;*/
  /*grid-column-gap: 1px;*/
  /*grid-row-gap: 1px;*/
}

.container {
  padding: 10px;
}

.scrollable {
  position: relative;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.sidebar {
  background: white;
  grid-row-start: 1;
  grid-row-end: span 3;
}

.content {
  background: white;
  grid-row-start: 1;
  grid-row-end: span 3;
}

.footer {
  grid-column-start: 2;
  background: white;
}

.toolbar {
  display: flex;
  align-items: center;

  background-color: white;
  font-weight: 500;
  border-bottom: 1px solid #eeeef1;

  position: sticky;
  top: 0px;
}

@supports (backdrop-filter: blur(20px)) {
  .toolbar {
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
  }
}

.toolbar-title {
  margin: 0;
  font-size: 16px;
  font-weight: 800;
}

.left-items,
.right-items {
  flex: 1;
  padding: 10px;
  display: flex;
}

.right-items {
  flex-direction: row-reverse;
}

.left-items .toolbar-button {
  margin-right: 20px;
}

.right-items .toolbar-button {
  margin-left: 20px;
}

.left-items .toolbar-button:last-child,
.right-items .toolbar-button:last-child {
  margin: 0;
}

.toolbar-button {
  color: #007aff;
  font-size: 28px;
  transition: all 0.1s;
}

.toolbar-button:hover {
  cursor: pointer;
  color: #0063ce;
}

.toolbar-button:active {
  color: #007aff;
  opacity: 0.25;
}
.peer-video {
  width: 100%;
  height: 100% !important;
}
.video-controls button:hover,
.video-controls button:focus,
.video-controls button:active {
  outline: none;
  box-shadow: none;
}
/*@keyframes spin {*/
/*  100% {*/
/*    -webkit-transform: rotate(360deg);*/
/*    transform:rotate(360deg);*/
/*  }*/
/*}*/

/*.spin {*/
/*  -webkit-animation:spin 4s linear infinite;*/
/*  -moz-animation:spin 4s linear infinite;*/
/*  animation:spin 4s linear infinite;*/
/*}*/

/*
 VIDEO
*/

.vid-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  align-items: center;
  height: 90vh;
}

.heading {
  text-align: center;
  align-self: flex-start;
  margin-bottom: 0;
}

/*#videos {*/
/*  position: relative;*/
/*  height: 100px;*/
/*  width: 100vw;*/
/*  margin: auto;*/
/*  align-self: flex-start;*/
/*  display: grid;*/
/*  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));*/
/*  justify-items: center;*/
/*  align-items: center;*/
/*}*/

.vid {
  position: relative;
  background-color: black;
  height: 100%;
  width: 100%;

  /*height: 95%;*/
  /*width: 95%;*/
  /*border-width: 1px;*/
  /*border-color: #38373A;*/
  /*border-style: solid;*/
}

.vid-active {
  /*border: 3px solid darkcyan;*/
}

#video-active .agora_video_player {
  object-fit: contain !important;
}
.vid-fixed .agora_video_player {
  object-fit: contain !important;
}

body.fullscreen #header {
  display: none;
}
body.fullscreen .vid-fixed {
  top: 0;
}

._space3d .defaultFace div {
  width: 8px;
  height: 8px;
}
.hide-faces .defaultFace {
  display: none !important;
}
.hide-faces .dice-active {
  display: grid !important;
}
.vid-active .agora_video_player {
  position: relative !important;
}
.vid-active {
  height: auto !important;
}
.vertical-menu > a {
  text-decoration: none;
}
.vertical-menu > a,
.vertical-menu > a > a {
  display: block;
}

@layer components {
  .hero {
    @apply w-full text-[#333];
  }
}

.title {
  @apply m-0 w-full pt-20;
  font-size: 48px;
}

.title,
.description {
  @apply text-center;
}

input:focus-visible,
button:focus-visible,
textarea:focus-visible {
  outline: none;
}
